@import 'normalize.css';

$main-color: #b5b4b4;
$highlight-color: #f7fb8e;
$secondary-color: #424242;

$serif-font: 'Playfair Display';
$sanserif-font: 'Poppins';

$main-border: 5px solid white;
$ease-border: ease-in;
$ease-expand-page: cubic-bezier(.77,0,.175,1);
// --------------------------------

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

//*** IPHONE 5 OR SMALLER

* {
  box-sizing: border-box;
  font-family: $serif-font;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow: hidden
}

body.loaded {
  overflow: auto
}

.img-responsive {
  height: 100%;
  width: 100%;
}

.next-btn {
  width: 163px;
  height: 64.8px;
  border: 5px solid $secondary-color;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0;
  margin-top: 1px;
  width: 57px;
  border-bottom: 1px solid white;
  }
}

.next-btn:hover {
  span {
    border-color:$secondary-color;
  }
}





// SIDE BLOCK TITLES

.title-block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: $secondary-color;
  font-size: 2em;
  border: 1px solid black;
  padding: 12px 15px 15px;
  font-weight: 900;
  margin: 0;

}

// MENU
#menu {
  position: fixed;
  z-index: 3000;
  left: 25px;
  top: 25px
}

#menu-btn {
  width: 41px;
  height: 41px;
  padding-top: 8px
}

.menu-item {
  font-size: 1.2em;
  padding: 6px 11px 8px
}


// HEADER

#header {
  height: 100vh;
  position: relative;
  z-index: 2;
  background-image: url('https://cdn.shopify.com/s/files/1/0285/1316/products/WP179-thepalmswhite-01_large.jpg?v=1443643524');
  background-attachment: fixed;
  padding: 0;
}

#header-main {
  position: relative;
  height: 75vh;
  top: 12.5vh;
  z-index: 2;
  padding: 0;
  text-align: left
}

#header-border-animation {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden
}

#header-border-animation > .top {
  position: absolute;
  border-top: 15px solid $highlight-color;
  top: 0;
  width: 100vw;
  left: 100%;
  animation: loadingTop 0.5s $ease-expand-page forwards 0.4s;
  -webkit-animation: loadingTop 0.5s $ease-expand-page forwards 0.4s;
}

#header-border-animation > .bottom {
  position: absolute;
  border-bottom: 15px solid $highlight-color;
  width: 100vw;
  height: 75vh;
  right: 100%;
  animation: loadingBottom 0.5s $ease-expand-page forwards 0.9s;
  -webkit-animation: loadingBottom 0.5s $ease-expand-page forwards 0.9s;
}

@keyframes loadingTop {
  100% {
    left: 0%;
  }
}
@keyframes loadingBottom {
  100% {
    right: 0%;
  }
}
@keyframes loadingLeft {
  100% {
    bottom: 0%;
  }
}
@-webkit-keyframes loadingTop {
  100% {
    left: 0%;
  }
}
@-webkit-keyframes loadingBottom {
  100% {
    right: 0%;
  }
}
@-webkit-keyframes loadingLeft {
  100% {
    bottom: 0%;
  }
}

#header-border {
  height: 100%;
  width: 100%;
  padding: 20px 0;
  border-top: 15px solid #888;
  border-bottom: 15px solid #888;
}

#header-img {
  background-image: url('/public/images/header-img.jpg');
  background-size: cover;
  background-color: white;
  height: 100%;
}


svg.intro {
  position: absolute;
  height: 300px;
  width: 290px;
  top: 13vh;
  left: 6vw;
  z-index: 50;

  .text {
    display: none;
  }
  &.go {
    .text {
      font-family: $serif-font;
      font-size: 5.5em;
      font-weight: 900;
      display: block;
    }
    .text-stroke {
      fill: transparent;
      stroke: #333;
      stroke-width: 5px;
      stroke-dashoffset: 900;
      stroke-dasharray: 900;
      stroke-linecap: butt;
      stroke-linejoin: round;
      transition-duration: 3s;
      animation: dash 2.5s ease-in-out forwards 0.19s;
      -webkit-animation: dash 2.5s ease-in-out forwards 0.19s;
    }
    .text-stroke:nth-child(2) {
      animation-delay: 1.29s;
      -webkit-animation-delay: 1.29s;
    }
    .text-stroke:nth-child(3) {
      animation-delay: 1.39s;
      -webkit-animation-delay: 1.39s;
    }
    .text-stroke:nth-child(4) {
      transition-duration: 0s;
      animation: dash 3.3s ease-in-out forwards 1.09s;
      -webkit-animation: dash 3.3s ease-in-out forwards 1.09s;
    }
  }
}


#svg-text-1 {
  transform: translateY(110px);
  -webkit-transform: translateY(110px);
}
#svg-text-2 {
  transform: translateY(192px);
  -webkit-transform: translateY(192px);
}
#svg-text-3 {
  transform: translateY(248px);
  -webkit-transform: translateY(248px);
}
.svg-text-4 {
  transform: translateY(280px);
  -webkit-transform: translateY(280px);
}
#small-text {
  font-family: $sanserif-font;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25em;
  letter-spacing: 2px;
}

.svg-fill {
  fill: #333 !important;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


#header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: $main-color
}


// ABOUT

#about-main {
  z-index: 2
}

#about-header {
  background-color: $highlight-color;
}

.about-content {
  font-family: $sanserif-font;
  background-color: white;
  text-align: left;
  padding: 90px 100px;
}

#about-btn::before, #work-btn::before, #contact-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $highlight-color;
  transition: 0.3s;
}

#about-btn:hover, #work-btn:hover, #contact-btn:hover {
  color: $secondary-color !important;
  transition: 0.3s
}

#about-btn, #work-btn, #contact-btn {
  transition: color 0.3s
}

#about-btn:focus::before, #about-btn:hover::before,
#work-btn:focus::before, #work-btn:hover::before,
#contact-btn:focus::before, #contact-btn:hover::before {
  width: 100%;
}

// about - text

.about-heading-text {
  font-size: 30px;
  font-family: $sanserif-font;
  font-weight: 500
}

.about-text {
  font-family: $sanserif-font;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
}


// WORK

.work-content {
  height: auto;
  right: 0;
  background-color: $highlight-color;
  padding: 0
}

.work-item {
  overflow: hidden;
  position: relative;
}

.work-item-header {
  width: 100%;
  height: 100vh;
  display: flex;
  min-height: 270px;
  overflow: hidden;
  transition: 0.8s height $ease-expand-page;
}

.work-item-content {
  background-color: white;
  text-align: left;
  height: 0;
}

.header-image {
  transition: 10s linear;
  background-size: cover;
}

.header-text-wrapper {
  padding: 45px 60px;
  position: absolute;
  z-index: 2000;
  text-align: left;
}

.header-title {
  margin: 0;
  color: white;
  font-family: $sanserif-font;
  font-size: 4.5em;
  font-weight: 600
}

.header-subtitle {
  color: white;
  font-family: $sanserif-font;
  font-size: 19px;
  transition: 0.3s;
}

.subtitle-wrapper {
  position: absolute;
  width: 300px;
  margin-top: -33px;
  margin-left: 5px;
  transition: 0.4s 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// work - border
.border-wrapper {
  position: relative;
  overflow: hidden;
  width: 168px;
  height: 64.8px;
  margin-top: 20px;
  margin-left: 5px;
}

//animation btn text
.border-wrapper::before {
  content: 'SEE MORE';
  font-family: $sanserif-font;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  position: absolute;
  margin: 0;
  top: 20.5px;
  left: -104px;
  transition: 0.6s 0.3s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}





.border-top {
  position: absolute;
  border-top: $main-border;
  top: 0;
  width: 168px;
  right: 50%;
  transition: right 0.2s 0.6s;
  transition-timing-function: $ease-border;
}

.border-bottom {
  position: absolute;
  border-bottom: $main-border;
  top: 0;
  width: 168px;
  height: 64.8px;
  left: 100%;
  transition: left 0.2s 0.2s;
  transition-timing-function: $ease-border;
}

.border-right {
  position: absolute;
  border-right: $main-border;
  height: 64.8px;
  right: 0;
  bottom: 100%;
  transition: bottom 0.2s 0.4s;
  transition-timing-function: $ease-border;
}

.border-left {
  position: absolute;
  border-right: $main-border;
  height: 64.8px;
  left: 0;
  top: 100%;
  transition: top 0.2s;
  transition-timing-function: $ease-border;
}

.x-btn {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
}



.x-btn > p {
  font-family: "Poppins";
  color: white;
  background-color: #424242;
  font-size: 20px;
  padding: 15px;
  letter-spacing: 3px;
  position: absolute;
  margin: 0;
  top: -1.6px;
  left: -46px;
}

.x-btn > .top {
  position: absolute;
  border-top: $main-border;
  top: 0;
  width: 50px;
  right: 100%;
}

.x-btn > .right {
  position: absolute;
  border-right: $main-border;
  height: 50px;
  right: 0;
  bottom: 100%;
}

.x-btn > .bottom {
  position: absolute;
  border-bottom: $main-border;
  top: 0;
  width: 50px;
  height: 50px;
  left: 100%;
}

.x-btn > .left {
  position: absolute;
  border-right: $main-border;
  height: 50px;
  left: 0;
  top: 100%;
}

// WORK - HOVER

.work-item.closed:hover {
  cursor: pointer;

  .border-wrapper::before {
    left: 32px;
    transition: 0.5s;
    transition-delay: 0.9s;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  .header-image {
    transform: scale(1.4);
    -webkit-transform: scale(1.4)
  }

  .border-top {
    right: 0;
    transition: right 0.2s;
    transition-timing-function: $ease-border;
  }
  .border-bottom {
    left: 0;
    transition: left 0.2s;
    transition-delay: 0.4s;
    transition-timing-function: $ease-border;
  }
  .border-right {
    bottom: 0;
    transition: bottom 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: $ease-border;
  }
  .border-left {
    top: 0;
    transition: top 0.2s;
    transition-delay: 0.6s;
    transition-timing-function: $ease-border;
  }

  .subtitle-wrapper {
    margin-top: -15px;
    opacity: 0;
    transition: 0.2s;
  }

  .border-wrapper:hover {
    filter: grayscale(0) sepia(100%) contrast(100%) saturate(7.5);
  }
}


// CONTACT
#contact-main {
  z-index: 2
}

#contact-header {
  background-color: $secondary-color;

  .title-text {
    border-color: white;
    color: white;
  }
}


//UTIL CLASSES FOR PAGE TRANSITIONS
.hide-section {
  display: none;
}
.small-header {
  height: 55vh
}
.expanded-content {
  height: 100%;
  padding: 70px;
}
.fixed-btn {
  position: fixed !important;
}



//*** BIGGER PHONES
@media screen and (min-width: 321px) {

  svg.intro {
    height: 350px;
    width: 320px;
    &.go {
      .text {
        font-size: 6.6em;
      }
    }
  }
  #svg-text-2 {
    transform: translateY(212px);
    -webkit-transform: translateY(212px);
  }
  #svg-text-3 {
    transform: translateY(286px);
    -webkit-transform: translateY(286px);
  }
  .svg-text-4 {
    transform: translateY(328px);
    -webkit-transform: translateY(328px);
  }
  #small-text {
    font-size: 1.38em;
  }

  .title-text {
    font-size: 3em;
    padding: 15px 20px 20px
  }

  .menu-item {
    font-size: 1.4em;
    padding: 7px 13px 9px
  }
}






//*** BIGGER THAN PHONE PORTRAIT
@media screen and (min-width: 415px) {

  //HEADER
  // svg.intro {
  //   &.go {
  //     .text-stroke {
  //       stroke-dashoffset: -900;
  //       stroke-dasharray: 900;
  //     }
  //   }
  // }
}


//*** HALF DESKTOP
@media screen and (min-width: 668px) {

  //HEADER
  #svg-text-2 {
    transform: translateY(230px);
    -webkit-transform: translateY(230px);
  }
  #svg-text-3 {
    transform: translateY(308px);
    -webkit-transform: translateY(308px);
  }
  .svg-text-4 {
    transform: translateY(350px);
    -webkit-transform: translateY(350px);
  }
  #small-text {
    font-size: 1.8em;
  }

  svg.intro {
    width: 400px;
    &.go {
      .text {
        font-size: 8em;
      }
    }
  }
}


//*** FULL SIZE DESKTOP
@media screen and (min-width: 992px) {

  // HEADER
  #header-main {
    height: 85vh;
    top: 7.5vh;
  }

  #header-border-animation > .top {
    border-width: 7px;
    width: 65.9vw;
    animation: loadingTop 1s $ease-expand-page forwards;
    -webkit-animation: loadingTop 1s $ease-expand-page forwards;
  }


  #header-border-animation > .bottom {
    border-width: 7px;
    height: 85vh;
    width: 65.5vw;
    animation: loadingBottom 1s $ease-expand-page forwards 2s;
    -webkit-animation: loadingBottom 1s $ease-expand-page forwards 2s;
  }

  #header-border-animation > .left {
    position: absolute;
    border-right: 7px solid $highlight-color;
    height: 85vh;
    left: 0;
    bottom: 100%;
    animation: loadingLeft 1s $ease-expand-page forwards 1s;
    -webkit-animation: loadingLeft 1s $ease-expand-page forwards 1s;
  }

  #header-border {
    padding-left: 20px;
    border-left: 7px solid #888;
    border-width: 7px;
  }

  #svg-text-2 {
    transform: translateY(230px);
    -webkit-transform: translateY(230px);
  }
  #svg-text-3 {
    transform: translateY(308px);
    -webkit-transform: translateY(308px);
  }
  .svg-text-4 {
    transform: translateY(350px);
    -webkit-transform: translateY(350px);
  }
  #small-text {
    font-size: 1.8em;
  }


  svg.intro {
    top: 21%;
    left: -145px;
    height: 380px;
    width: 400px;

    &.go {
      .text {
        font-size: 8em;
      }
      .text-stroke {
        animation: dash 2.5s ease-in-out forwards 1.75s;
        -webkit-animation: dash 2.5s ease-in-out forwards 1.75s;
      }
      .text-stroke:nth-child(2) {
        animation-delay: 2.85s;
        -webkit-animation-delay: 2.85s;
      }
      .text-stroke:nth-child(3) {
        animation-delay: 3.35s;
        -webkit-animation-delay: 3.35s;
      }
      .text-stroke:nth-child(4) {
        animation-delay: 4.05s;
        -webkit-animation-delay: 4.05s;
      }
    }
  }




  //WORK
  #work-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
  }

  .fixed-header {
    position: fixed !important;
  }

  .work-content {
    position: relative;
    z-index: 100;
    left: 33.3%;
  }




///////

#work-header {
  -webkit-transition: width 0.6s $ease-expand-page;
  -moz-transition: width 0.6s $ease-expand-page;
  -ms-transition: width 0.6s $ease-expand-page;
  -o-transition: width 0.6s $ease-expand-page;
  transition: width 0.6s $ease-expand-page;
}

.work-content {
  transition: 0.6s $ease-expand-page;

}

.minimized {
  width: 25%;
}

.expanded-column {
  width: 75%;
  left: 25%
}

.add-border {
  border-right: 1px solid #dcdcdc
}


/////////////
}


//*** PHONES IN LANDSCAPE
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    #header {
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 1em;
      }
    }
    #header-text {
      top: 9vh;
    }
    .title-text {
      font-size: 2em;
      padding: 12px 15px 15px
    }
}




// --------------------------------

@mixin square($dimension) {
  width: $dimension;
  height: $dimension;
}

@mixin clearfix {
  &:before, &:before {
    display: table;
    content: '';
    clear: both;
  }
}

#turt-mcsquirt {
  @include square(60px);
  img {
    width: 100%;
  }
}

#alfalfa {
  margin: 0 auto;
  @include square(50px);
  img {
    width: 100%;
  }
}

#app {
  text-align: center;
}

#maze {

  display: inline-block;
  padding: 30px;

  .maze-row {

    @include clearfix();

    .maze-cell {

      background-image: url(/public/images/grass.jpg);
      background-size: cover;

      $sides: ('top', 'bottom', 'left', 'right');

      @each $side in $sides {
        &.wall-#{$side} {
          border-#{$side}: 2px solid black;
        }
      }

      border-radius: 2px;

      float: left;
      @include square(60px);

    }

  }

}

#win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 52px;
}

