@import 'normalize.css';

$main-color: #b5b4b4;
$highlight-color: #f7fb8e;
$secondary-color: #424242;

$serif-font: 'Playfair Display';
$sanserif-font: 'Poppins';

$main-border: 5px solid white;
$ease-border: linear;
// --------------------------------


//*** IPHONE 5 OR SMALLER

* {
  box-sizing: border-box;
  font-family: $serif-font;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0
}

.img-responsive {
  height: 100%;
  width: 100%;
}

// SIDE BLOCK TITLES

.title-block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: $secondary-color;
  font-size: 2em;
  border: 1px solid black;
  padding: 12px 15px 15px;
  font-weight: 900;
  margin: 0;

}

// MENU
#menu {
  position: fixed;
  z-index: 3000;
  left: 20px;
  top: 20px
}

#menu-btn {
  width: 41px;
  height: 41px;
  padding-top: 8px
}

.menu-item {
  font-size: 1.2em;
  padding: 6px 11px 8px
}


// #menu-btn:hover {
//   #menu-icon {
//     animation-name: menu-hover;
//     animation-play-state: running;
//     animation-timing-function:  cubic-bezier(.77,0,.175,1);
//     animation-duration: 0.2s;
//     animation-direction: normal;
//     animation-fill-mode: backwards
//   }
// }

// @-webkit-keyframes menu-hover {
//   0% {-webkit-transform:scale(1); }
//   50% {-webkit-transform:scale(1.2);}
//   100% {-webkit-transform:scale(1);}
// }

// HEADER

#header {
  height: 100vh;
  background-image: url('https://cdn.shopify.com/s/files/1/0285/1316/products/WP179-thepalmswhite-01_large.jpg?v=1443643524');
  background-attachment: fixed;
  padding: 0;

  h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0
  }
  p {
    font-size: 1.25em;
    font-weight: 900
  }
}

#header-content {
  height: 75vh;
  top: 12.5vh;
  z-index: 2;
  padding: 20px 0;
  border-top: 15px solid $highlight-color;
  border-bottom: 15px solid $highlight-color;
  text-align: left
}

#header-img {
  background-image: url('/public/images/header-img.jpg');
  background-size: cover;
  background-color: white;
  height: 100%;
}

#header-text {
  position: absolute;
  top: 13vh;
  left: 6vw;
}

#header-divider {
  margin-top: -20px !important;
}

#header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: $main-color
}


// ABOUT

#about-header {
  background-color: $highlight-color;
}

.about-content {
  font-family: $sanserif-font;
  text-align: left;
  padding: 90px 100px;
}

#about-btn::before, #work-btn::before, #contact-btn::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $highlight-color;
  transition: 0.3s;
}

#about-btn:hover, #work-btn:hover, #contact-btn:hover {
  color: $secondary-color !important;
  transition: 0.3s
}

#about-btn:focus::before, #about-btn:hover::before,
#work-btn:focus::before, #work-btn:hover::before,
#contact-btn:focus::before, #contact-btn:hover::before {
  width: 100%;
}

// about - text

.about-heading-text {
  font-size: 30px;
  font-family: $sanserif-font;
  font-weight: 600
}

.about-text {
  font-family: $sanserif-font;
  font-size: 17px;
  font-weight: 300;
  line-height: 25px;
}


// WORK

#work-content {
  height: 400vh;
  right: 0;
  background-color: $highlight-color;
  padding: 0
}

.work-item {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.work-item-image {
  transition: 5s linear;
  background-size: cover;
}

.work-item-header {
  padding: 40px;
  position: absolute;
  z-index: 2000;
  text-align: left;
}

.work-item-title {
  margin: 0;
  color: white;
  font-family: $sanserif-font;
  font-size: 4.5em;
  font-weight: 600
}

.work-item-subtitle {
  color: white;
  font-family: $sanserif-font;
  font-size: 19px;
  transition: 0.3s;
}

.subtitle-wrapper {
  position: absolute;
  width: 300px;
  margin-top: -33px;
  margin-left: 5px;
  transition: 0.4s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

// work - border
.border-wrapper {
  position: relative;
  overflow: hidden;
  width: 112px;
  height: 64.8px;
  margin-top: 20px;
  margin-left: 5px;
}

// border-arrow
.border-wrapper::before {
  content: url("/public/images/next-white.png");
  position: absolute;
  top: 16.5px;
  left: -25px;
  transition: 0.6s 0.3s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



// .border-arrow {
//   position: absolute;
//   top: 16.5px;
//   left: -25px;
//   transition: 0.6s 0.3s;
//   transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
// }

.border-top {
  position: absolute;
  border-top: $main-border;
  top: 0;
  width: 112px;
  right: 50%;
  transition: right 0.2s 0.6s;
  transition-timing-function: $ease-border;
}

.border-bottom {
  position: absolute;
  border-bottom: $main-border;
  top: 0;
  width: 112px;
  height: 64.8px;
  left: 100%;
  transition: left 0.2s 0.2s;
  transition-timing-function: $ease-border;
}

.border-right {
  position: absolute;
  border-right: $main-border;
  height: 64.8px;
  right: 0;
  bottom: 100%;
  transition: bottom 0.2s 0.4s;
  transition-timing-function: $ease-border;
}

.border-left {
  position: absolute;
  border-right: $main-border;
  height: 64.8px;
  left: 0;
  top: 100%;
  transition: top 0.2s;
  transition-timing-function: $ease-border;
}

// WORK - HOVER
.work-item:hover {
  cursor: pointer;

  .border-wrapper::before {
    left: 43px;
    transition: 0.5s;
    transition-delay: 0.9s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .work-item-image {
    transform: scale(1.3)
  }

  // .border-arrow {
  //   position: absolute;
  //   top: 16.5px;
  //   left: 43px;
  //   transition: 0.5s;
  //   transition-delay: 0.9s;
  //   transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  // }

  .border-top {
    right: 0;
    transition: right 0.2s;
    transition-timing-function: $ease-border;
  }
  .border-bottom {
    left: 0;
    transition: left 0.2s;
    transition-delay: 0.4s;
    transition-timing-function: $ease-border;
  }
  .border-right {
    bottom: 0;
    transition: bottom 0.2s;
    transition-delay: 0.2s;
    transition-timing-function: $ease-border;
  }
  .border-left {
    top: 0;
    transition: top 0.2s;
    transition-delay: 0.6s;
    transition-timing-function: $ease-border;
  }

  .subtitle-wrapper {
    margin-top: -15px;
    opacity: 0;
    transition: 0.2s;
  }
}

.border-wrapper:hover {
  filter: grayscale(0) sepia(100%) contrast(100%) saturate(7.5);
}

// CONTACT
#contact-header {
  background-color: $secondary-color;

  .title-text {
    border-color: white;
    color: white;
  }
}



//*** BIGGER PHONES
@media screen and (min-width: 321px) {
  #header {
    h1 {
      font-size: 6em;
    }
    p {
      font-size: 1.47em;
    }
  }

  .title-text {
    font-size: 3em;
    padding: 15px 20px 20px
  }

  .menu-item {
    font-size: 1.4em;
    padding: 7px 13px 9px
  }
}






//*** HALF DESKTOP
@media screen and (min-width: 668px) {

  //HEADER

  #header {
    h1 {
      font-size: 7em;
    }
    p {
      font-size: 1.7em;
    }
  }
}


//*** FULL SIZE DESKTOP
@media screen and (min-width: 992px) {

  // HEADER
  #header-content {
    height: 85vh;
    top: 7.5vh;
    padding-left: 20px;
    border-left: 5px solid $highlight-color;
    border-width: 5px;
  }

  #header {
    h1 {
      font-size: 8em;
    }
    p {
      font-family: 'Poppins';
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.8em;
      letter-spacing: 2px;
      margin-top: 2px
    }
  }

  #header-text {
    left: -140px;
    top: 19.4%;
  }

  #header-divider {
    margin-top: -30px !important;
  }

  //WORK
  #work-header {
    position: absolute;
    top: 0;
    left: 0
  }

  .fixed-header {
    position: fixed !important;
  }

  .top {
    top: 75% !important;
  }

  #work-content {
    position: absolute;
  }

}


//*** PHONES IN LANDSCAPE
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    #header {
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 1em;
      }
    }
    #header-text {
      top: 9vh;
    }
    .title-text {
      font-size: 2em;
      padding: 12px 15px 15px
    }
}



// --------------------------------

@mixin square($dimension) {
  width: $dimension;
  height: $dimension;
}

@mixin clearfix {
  &:before, &:before {
    display: table;
    content: '';
    clear: both;
  }
}

#turt-mcsquirt {
  @include square(60px);
  img {
    width: 100%;
  }
}

#alfalfa {
  margin: 0 auto;
  @include square(50px);
  img {
    width: 100%;
  }
}

#app {
  text-align: center;
}

#maze {

  display: inline-block;
  padding: 30px;

  .maze-row {

    @include clearfix();

    .maze-cell {

      background-image: url(/public/images/grass.jpg);
      background-size: cover;

      $sides: ('top', 'bottom', 'left', 'right');

      @each $side in $sides {
        &.wall-#{$side} {
          border-#{$side}: 2px solid black;
        }
      }

      border-radius: 2px;

      float: left;
      @include square(60px);

    }

  }

}

#win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 52px;
}

