@import 'normalize.css';

$main-color: #b5b4b4;
$highlight-color: #f7fb8e;
$secondary-color: #424242;

// --------------------------------


//*** IPHONE 5 OR SMALLER

* {
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  margin: 0
}

.img-responsive {
  height: 100%;
  width: 100%;
}

// SIDE BLOCK TITLES

.title-block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  color: $secondary-color;
  font-size: 2em;
  border: 1px solid black;
  padding: 12px 15px 15px;
  font-weight: 900;
  margin: 0;

}

// MENU
#menu {
  position: fixed;
  z-index: 300;
  left: 20px;
  top: 20px
}

#menu-btn {
  width: 41px;
  height: 41px;
  padding-top: 8px
}

.menu-item {
  font-size: 1.2em;
  padding: 6px 11px 8px
}


// #menu-btn:hover {
//   #menu-icon {
//     animation-name: menu-hover;
//     animation-play-state: running;
//     animation-timing-function:  cubic-bezier(.77,0,.175,1);
//     animation-duration: 0.2s;
//     animation-direction: normal;
//     animation-fill-mode: backwards
//   }
// }

// @-webkit-keyframes menu-hover {
//   0% {-webkit-transform:scale(1); }
//   50% {-webkit-transform:scale(1.2);}
//   100% {-webkit-transform:scale(1);}
// }

// HEADER

#header {
  height: 100vh;
  background-image: url('https://cdn.shopify.com/s/files/1/0285/1316/products/WP179-thepalmswhite-01_large.jpg?v=1443643524');
  background-attachment: fixed;
  padding: 0;

  h1 {
    font-size: 5em;
    font-weight: 900;
    margin: 0
  }
  p {
    font-size: 1.25em;
    font-weight: 900
  }
}

#header-content {
  height: 75vh;
  top: 12.5vh;
  z-index: 2;
  padding: 20px 0;
  border-top: 15px solid $highlight-color;
  border-bottom: 15px solid $highlight-color;
  text-align: left
}

#header-img {
  background-image: url('/public/images/header-img.jpg');
  background-size: cover;
  background-color: white;
  height: 100%;
}

#header-text {
  position: absolute;
  top: 13vh;
  left: 6vw;
}

#header-divider {
  margin-top: -20px !important;
}

#header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.85;
  background-color: $main-color
}


// ABOUT

#about-header {
  background-color: $highlight-color;
}

// WORK

#work-content {
  height: 400vh;
  right: 0;
  background-color: $highlight-color;
  padding: 0
}

.work-item {
  height: 100vh;
  overflow: hidden;
  position: relative
}

.work-item-image {
  transition: 0.3s;
  background-size: cover;
}

.work-item-box {
  position: absolute;
  z-index: 2000;
  top: 0;
  border: 1px solid white;
  padding: 10px;
  transition: 0.3s
}

.work-item-title {
  margin: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: $secondary-color;
  font-family: Raleway;
  font-weight: 100;
  text-transform: uppercase;
  transition: 0.3s;
  transition: 0.1s border
}



.work-item:hover {

  // .work-item-image {
  //   transform: scale(1.1)
  // }

  .work-item-box {
    border: none;
  }

  .work-item-title {
    transform: scale(2);
    border: 1px solid white;
  }

}

// CONTACT
#contact-header {
  background-color: $secondary-color;

  .title-text {
    border-color: white;
    color: white;
  }
}



//*** BIGGER PHONES
@media screen and (min-width: 321px) {
  #header {
    h1 {
      font-size: 6em;
    }
    p {
      font-size: 1.47em;
    }
  }

  .title-text {
    font-size: 3em;
    padding: 15px 20px 20px
  }

  .menu-item {
    font-size: 1.4em;
    padding: 7px 13px 9px
  }
}






//*** HALF DESKTOP
@media screen and (min-width: 668px) {

  //HEADER

  #header {
    h1 {
      font-size: 7em;
    }
    p {
      font-size: 1.7em;
    }
  }
}


//*** FULL SIZE DESKTOP
@media screen and (min-width: 990px) {

  // HEADER
  #header-content {
    height: 85vh;
    top: 7.5vh;
    padding-left: 20px;
    border-left: 5px solid $highlight-color;
    border-width: 5px;
  }

  #header-text {
    left: -111px;
    top: 28.4%;
  }

  #header-divider {
    margin-top: -25px !important;
  }

  //WORK
  #work-header {
    position: absolute;
    top: 0;
    left: 0
  }

  .fixed-header {
    position: fixed !important;
  }

  .top {
    top: 75% !important;
  }

  #work-content {
    position: absolute;
  }

}


//*** PHONES IN LANDSCAPE
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (orientation: landscape) {
    #header {
      h1 {
        font-size: 4em;
      }
      p {
        font-size: 1em;
      }
    }
    #header-text {
      top: 9vh;
    }
    .title-text {
      font-size: 2em;
      padding: 12px 15px 15px
    }
}



// --------------------------------

@mixin square($dimension) {
  width: $dimension;
  height: $dimension;
}

@mixin clearfix {
  &:before, &:after {
    display: table;
    content: '';
    clear: both;
  }
}

#turt-mcsquirt {
  @include square(60px);
  img {
    width: 100%;
  }
}

#alfalfa {
  margin: 0 auto;
  @include square(50px);
  img {
    width: 100%;
  }
}

#app {
  text-align: center;
}

#maze {

  display: inline-block;
  padding: 30px;

  .maze-row {

    @include clearfix();

    .maze-cell {

      background-image: url(/public/images/grass.jpg);
      background-size: cover;

      $sides: ('top', 'bottom', 'left', 'right');

      @each $side in $sides {
        &.wall-#{$side} {
          border-#{$side}: 2px solid black;
        }
      }

      border-radius: 2px;

      float: left;
      @include square(60px);

    }

  }

}

#win {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 52px;
}

